main {
    h2 {
        font-family: kenyan;
        font-size: 2em;
        text-transform: uppercase;
        margin-block: 2em 1em;
    }
    section#models {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        div.model {
            border: solid 2px black;
            width: 250px;
            border-radius: 10px;
            overflow: hidden;
            aspect-ratio: 16/9;
            transition: 500ms;
            img {
                width: 100%;
                transition: 500ms;

            }
            img:hover {
                scale: 105%;
            }
        }
        div.model:hover {
            box-shadow: -2px 2px black;
        }
    }
    section#cover-art {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        div.artwork {
            border: solid 2px black;
            width: 250px;
            border-radius: 10px;
            overflow: hidden;
            aspect-ratio: 1/1;
            transition: 500ms;
            img {
                width: 100%;
                transition: 500ms;

            }
            img:hover {
                scale: 105%;
            }
        }
        div.artwork:hover {
            box-shadow: -2px 2px black;
        }
    }
}