main {
    section#about {
        border: solid 1px black;
        border-radius: 10px;
        overflow: hidden;
        padding-block-end: 20px;
        div#overview {
            display: flex;
            gap: 20px;
            margin: 20px;
            img {
                align-self: flex-start;
                width: 250px;
                border: solid 1px black;
                border-radius: 10px;
            }
            div#details {
                h2, h3, h4 {
                    font-family: kenyan;
                }
                h2 {
                    margin-block-end: 0.5em;
                }
                h4 {
                    margin-block: 0.25em;
                }
                div.list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;
                    div.item {
                        color: white;
                        background-color: black;
                        border-radius: 15px;
                        padding: 2px 5px;
                        font-family: caviar;
                    }
                }
                ul {
                    li {
                        font-family: caviar;
                    }
                }
            }
        }
        div#details {
            ul {
                li {
                    font-family: caviar;
                }
            }
        }
    }
}